* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;   
}

:root {
  --principal: #e1d9bf;
}
html {
    background-color: var(--principal);
}
h2 {
    padding: 10px 0;
    text-align: center;
    background-color: #572516;
    color: #fff;
}
#campo-busca {
    margin: 10px 0;
    text-align: center;
}
#entrada {
    margin-right: 10px;
    height: 25px;
    border-bottom: 2px solid black;
}
#pesquisar, #opc {
    background-color: #A04228;
    color: #fff;
    font-size: 14px;
    height: 70px;
    width: 70px;
    padding: 5px;
    border-radius: 50%;
}
table {
    margin: 5px 10px;
}
th, td {
    padding: 2px;
    border-bottom: 1px solid black;
}
footer {
    background-color: var(--principal);
    margin: 10px;
    padding: 10px;
    text-align: center;
}
@media only screen and (min-width: 768px) {
}

/* Estilos para notebook */
@media only screen and (min-width: 1024px) {
}